body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(176, 176, 232)
}
.main-heading{
  color: blue;
}

.sub-heading{
  color: rgb(67, 67, 249);
}

.table{
  background-color: rgb(162, 159, 159);
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #222;
  font-size: 16px;
}
.view{
  background-color: rgb(61, 165, 61);
  color: white;
  padding: 6px;
  border: none;
  width: 5rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 6px;
}
.delete{
  background-color: rgb(235, 41, 41);
  color: white;
  padding: 6px;
  border: none;
  width: 5rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 6px;
}
.download{
  background-color: rgb(95, 95, 245);
  color: white;
  padding: 6px;
  border: none;
  width: 5rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 6px;
}

.view:hover{
  background-color: green;
}
.delete:hover{
  background-color: rgb(112, 0, 0);
}
.download:hover{
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
